
  .topmost-heading {
    padding: 2rem;
  }
  /* Tab Container */
  .Mypetition {
    width: 100%;
    height: auto;
    padding: 0rem 1rem;
    color: #020303;
  
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
  
  
  }
  .tag{
      width: 50%;
      margin-bottom: 1rem;
  }
  
  /* Tab Navigation */
  ul.nav {
    margin-left: 24rem;
    margin-top: 23px;
    align-items: center;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.nav li {
    color: rgb(115, 114, 115);
    font-size: 20px;
    font-weight:bold;
    padding-left: 2rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
   
  }
  
  ul.nav li:hover {
    color: rgba(224, 45, 45, 0.5);
  }
  ul.nav li.active {
    color: #db3939;
  }
  
  /* First and Second Tab Styles */
  .Signed p,
  .Started p{
    font-size: 2rem;
    text-align: center;
  }
  
  .location{
      font-size: 20px;
  }

.editprofile{
    background-color: white;
    font-weight: bold;
    padding: 5px 18px;
    font-size: 18px;
    border-radius: 9px;
}

.Petitionername{
    margin-top: -27px;
    text-align: center;
}